
/*.Content {*/
/*    width: 390px;*/
/*    background-color: antiquewhite;*/
/*}*/


:root {
    --color-primary: #363E45;
    --color-secondary: rgba(54, 62, 69, 0.64);
    --color-bg: #FFFFFF;
    --color-border: rgba(152, 163, 174, 0.48);

    --color-interactive-elem-bg: #98A3AE1F;
    --color-mbar-fill: #363E45;

    --color-skills-form-bg: #98A3AE1F;

    --font-main: "Arial", sans-serif;

    --radius: 8px;

    --gap-large: 120px;
    --gap-medium: 40px;
    --gap-small: 8px;

    --content-width: 1140px;
    --padding-btn: 16px 20px;

    --page-max-width: 1440px;
    --page-side-padding: 150px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-bg);
    color: var(--color-primary);
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.text-primary,
.text-secondary {
    font-size: 16px;
    line-height: 24px;
}

.text-secondary {
    color: var(--color-secondary);
}
.text-primary {
    color: var(--color-primary);
}

.Image {
    content: url("assets/picture.png");
    display: block;
    border-radius: var(--radius);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: var(--page-max-width);
    margin: 0 auto;

    padding: 0 var(--page-side-padding);
    gap: var(--gap-large);
}

.Content > * {
    width: 100%;
}

#header {
    width: var(--content-width);
    padding: 24px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav {
    display: flex;
    gap: var(--gap-small);
    height: 48px;
}

.nav a,
.tab {
    border: 1px solid var(--color-border);
    border-radius: var(--radius);

    font-size: 14px;
    line-height: 16px;
    color: var(--color-primary);
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--padding-btn);
    height: 100%;

    text-decoration: none;
}

.tabs{
    display: flex;
    gap: 8px;
}

.tab {
    height: 48px;
    padding: var(--padding-btn);
    background: var(--color-bg);
    cursor: pointer;
}

.menu {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

#about {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

#about .about-text {
    line-height: 58px;
}

.about-image {
    box-sizing: content-box;
    width: 100%;
    height: 400px;
}

#education,
.edu-card,
.edu-info {
    display: flex;
    flex-direction: column;
}

#education {
    gap: 40px;
}

#education h2{
    line-height: 1;
}

.edu-group {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 32px;
}

.edu-card .edu-info h3 {
    line-height: 24px;
}

.edu-card {
    gap: 16px;
}

.edu-info {
    gap: 8px;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

#experience h2 {
    line-height: 48px;
}

.experience-content {
    display: flex;
    gap: 32px;
}

.experience-image {
    width: 554px;
    height: 400px;
}

.experience-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.job-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience-text h3 {
    line-height: 24px;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium)
}

#skills h2 {
    line-height: 1;
}

#skills h3 {
    line-height: 24px;
}

.skills-metrics {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.skills-metrics-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}

.skills-metrics-item:nth-child(odd) {
    padding-right: 16px;
}

.skills-metrics-item:nth-child(even) {
    padding-left: 16px;
}

.skill-bar, .skill-level {
    height: 8px;
    border-radius: 4px;
}

.skill-bar{
    background-color: var(--color-interactive-elem-bg);
    height: 8px;
    border-radius: 4px;
}

.skill-level {
    background-color: var(--color-mbar-fill);
}

.skills-form {
    display: flex;
    flex-direction: column;
    background: var(--color-skills-form-bg);
    border-radius: var(--radius);
    padding: 32px;
    gap: 32px;
}

.skills-form .form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: stretch;
    gap: 16px;

}

.skills-form .form-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    flex: 1;
}

.skill-input {
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    box-sizing: border-box;
    height: 48px;
}

.add-skill-btn {
    padding: 16px 20px;
    gap: 8px;
    border-radius: var(--radius);
    width: 65px;
    height: 48px;
    background: #2F3337;
    color: #FFFFFF;
}

#contacts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

#contacts h2 {
    line-height: 48px;
}

#contacts h3 {
    line-height: 24px;
}

.contacts-group {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 400px;
    background-color: var(--color-interactive-elem-bg);
    border-radius: var(--radius);
    padding: 32px;
}

.contacts-info-box {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

#footer {
    width: var(--content-width);
    padding: 60px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 32px;
}

.social-icons a,
.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons a {
    display: block;
}

.copyright {
    font-size: 14px;
    color: var(--color-secondary);
}


@media (max-width: 390px) {
    :root {
        --page-side-padding: 16px;
        --gap-large: 60px;
        --gap-medium: 24px;
        --m-gap-section: 32px;
    }
    
    .Content > * {
        gap: var(--gap-large);
    }

    h2 {
        font-size: 36px;
    }

    #about, #education, #experience, #skills, #contacts {
        gap: var(--m-gap-section);
    }

    #header {
        width: 100%;
        padding: 16px 0;
    }

    .nav {
        display: none;
    }

    #header .nav {
        display: flex;
    }

    #header .nav a:not(:last-child) {
        display: none;
    }

    
    #about .about-text {
        font-size: 36px;
        line-height: 44px;
    }

    .Image {
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
    }

    
    .edu-group {
        grid-template: auto / 1fr;
        gap: 32px;
    }

    .tabs {
        flex-wrap: wrap;
    }
    
    .tabs .tab {
        flex: 1;
    }
    
    #experience h2{
        word-spacing: 100vw;
        line-height: 36px;
    }

    .experience-content {
        flex-direction: column-reverse;
        gap: 24px;
    }
    
    .experience-text > p.text-secondary{
        display: none;
    }
    
    .skills-metrics {
        grid-template: auto / 1fr;
        gap: 24px;
    }
    
    .skills-metrics > :nth-child(even) {
        order: 1; 
    }

    .skills-metrics-item:nth-child(odd),
    .skills-metrics-item:nth-child(even) {
        padding-left: 0;
        padding-right: 0;
    }
    
    .skills-metrics-item{
        padding: 0;
    }

    .skills-form {
        padding: 16px;
    }

    .skills-form .form-row {
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
    }

    .add-skill-btn {
        width: 100%;
    }

    #contacts h2 {
        line-height: 37px;
    }
    
    .contacts-group {
        flex-direction: column;
        gap: 16px;
    }
    
    .contact-card {
        flex: none;
        height: 160px;
        padding: 16px;
        gap: 24px;
    }
    
    .contact-card .logo img {
        width: 24px;
        height: 24px;
    }

    #footer {
        width: 100%;
        padding: 1px 0 24px 0;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
    
    #footer .copyright {
        height: 16px;
    }
}

